body {background-color:#C0C0C0;}
	

 

h1 {color: #0000FF;}
h2 {color: #0000FF;}
h3 {color:#0000FF;}
p {color: #000000;}

h1 {text-align:center;}
h2 {text-align: center;}


h1 {font-family:"Futura", Times, serif;}

h2 {font-family:"Futura", Times, serif;}
h3{font-family:"Futura", Times, serif;}

p{font-family:"Futura", Times, serif;}

	



