

  <div id="pending">
    <h2>Pending</h2>
    <table class="table">
      <tr>
        <td>Name</td>
        <td></td>
      </tr>
    </table>
    <div id="friends">
      
    </div>
  </div>

  <div id="requested">
    <h2>Requested</h2>
    <table class="table">
      <tr>
        <td>Name</td>
        <td>Response</td>
        <td></td>
      </tr>
    </table>
    <div id="friends">
      <%= render new_friendship_path %> 
    </div>
  </div>