<% @friendships.each do |m| %>
<% if f.sender == current_entity.email %>
<table class="table">
  <tr>
   <td><%= f.receiver %></td>
    <td>
      <%= link_to f.response, Accept_path(f) %>
      <%= link_to f.response, Accept_path(f) %>
      <% end %>
    </td>

    <td><%= link_to 'Delete Message', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>
<% end %>
<% end %>