<!-- <link href="/assets/messages.css" rel="stylesheet"> -->

<div id="showfriend">
<h3>Friend</h3>
<table class = "table">
  <tr>
    <td>Name</td> 
    <td>Response</td>
  </tr>
  <tr>
    <td><strong><%= @friend.name%></strong></td>
    <td><strong><%= @friend.response %></strong></td>>
  </tr>
</table>

<%= link_to 'Back', friendships_path %>
</div>