
<h1>Friend </h1>

<div class="row">
  <div class="">
    <%= form_for(@friendship) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :receiver %>

      <br><br>

      <%= f.submit "Request Friend", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>