<% provide(:title, @friendship) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Request Sent!
      </h1>
    </section>
<%= @friendship.receiver %>
  <section>
<% end %>
   </section>
  
  </aside>
  
</div>