<!-- 
# Definition: this buttons to accept or decline invitation request.
# Input: void
# Output: redirect to the accept and decline.
# Author: Nardeen Milad
 -->	

<%@all.each do |c|%>
<br>group number <%=c.id%>
<a href='accept?id=<%=c.id%>'> accept</a>
<a href='decline?id=<%=c.id%>'> decline</a>
<%end%>