<html>

<form action='search' >

<!-- 
  # Definition: This is where the group-id is put after getting it.
  # Input: group-id
  # Output: void
  # Author: Nardeen Milad
-->	

	<input type=hidden value='1' name='groupId'>

<!-- 
  # Definition: this is where the sender-id is put after getting it.
  # Input: sender-id
  # Output: sender invitation request
  # Author: Nardeen Milad
-->	
	
	<input type=hidden value='1' name='userId'>
	<input type="text" name="id">
	<input type='submit' value="search">
</form>
</html>