<!-- 
  # Definition: if the validation is true then a massege will appear " invitation was sent" else if  
  # the validation is false then a massege will appear " cannot invite this person".
  # Input: void
  # Output: void
  # Author: Nardeen Milad
-->	

 <%= @desc%>
 <%if @invite == true %>
 <h2> invitation was sent </h2>
 <%else%>
 <h2> cannot invite this person </h2>
 <%end%>