  <!-- 
  # Definition: by deleting the all enteries in the cookies the user will be logged out. 
	# Input: void.
	# Output: void.
	# Author: Tharey. 
  -->

  <%= @salout%>
  <a href = "logout" >logout</a>	