<!--
  # Definition: View the activities the startup made. And there are if conditions, if the activity is from projects
  # write "startup created project", if it is form groups, write "startup created group"...and so on.
  # Input: Activities attributes.	
  # Output: Activities.
  # Author: Amr Gamal. 
-->

<h1>Friends’ Activities</h1>  
<% @activities.each do |activity| %>  
   <div class="activity">
  <%if activity.trackable_type == 'Project' %> 
  <%= link_to activity.owner.name, activity.owner if activity.owner %>  
  created project <%= link_to activity.trackable.name, activity.trackable %> 
  <% end %> 

  <%if activity.trackable_type == 'Group' %> 
  <%= link_to activity.owner.name, activity.owner if activity.owner %>  
  created group <%= link_to activity.trackable.name, activity.trackable %> 
  <% end %> 
  </div>   
<% end %>  