  <!-- 
  # Definition: Showing if you already asked for a friendship and still waiting for response.
  # Input: Void.
  # Input: Void.
  # Author: Sarah Fathallah.
  -->
  
  <div>You already asked for friendship. Waiting for confirmation</div>