<!-- 
  # Definition: This part will call the action create jobs ,and pass the input that the user will enter in the textfield and will show the a new page with the text field jobs.  
  # Input: Text Jobs. 
  # Output: Jobs.
  # Author: Mohamed sharawy. 
-->

<html>
<body>
	<form action="createjobs" method="get">
		<div class ="field">
			jobs:
			<input ="text" name="jobs">
		</div>
		<br>
		<input type = "submit" value = "Update">
	</form>
</body>
</html>