<!-- 
  # Definition: This part will call the action create needs ,and pass the input that the user will enter in the textfield and will show the a new page with the text field needs.  
  # Input: Text Needs. 
  # Output: Needs.
  # Author: Mohamed sharawy. 
-->

<html>
<body>
	<form action="createneeds" method="get">
		<div class ="field">
			needs:
			<input ="text" name="needs">
		</div>
		<br>
		<input type = "submit" value = "Update">
	
	</form>
</body>
</html>