<h1>Editing entity</h1>
<!-- Executes "form" -->
<!-- Adel Zee Badawy -->

<%= render 'form' %>
<!-- The two below links redirect to their respective target paths -->
<!-- Adel Zee Badawy -->

<%= link_to 'Show', @entity %> |
<%= link_to 'Back', entities_path %>
