<!--
  # Definition: Checks for all the failure condition whether the email, password or confirm password fields are empty, if the password is less that 6 characters, the sintax of email has to be correct and if the password and confirm password.
  # Output: Either passes or sends error.
  # Author: Ola Enaba.
-->

<html>
<head>
  <script>
  function check(form)
  {
        
        if ( form.elements.email.value.length == 0 )
        {
            alert("please enter an email");
            return false;
        }
        if (form.elements.email.value.indexOf("@") < 1)
        {
            alert("email should be in the right form");
            return false;
        }
         if (form.elements.email.value.indexOf(".") < 3 )
        {
            alert("email should be in the right form");
            return false;
        }
         if (form.elements.email.value.indexOf(".") == form.elements.email.value.length)
        {
            alert("email should be in the right form");
            return false;
        }
         if (form.elements.password.value != form.elements.confirmPassword.value)
        {
            alert("password doesnt match confirmation");
          return false;
        }
        

        if (form.elements.password.value.length < 6)
        {
            alert("password must be more than 6 chars");
            return false;
        }
        return true;
  }

    </script>
</head>


<!--
  # Definition: Layout of the page.
  # Input: Takes input (email, password and confirm password).
  # Output: Updated email and password.
  # Author: Ola Enaba.
-->

<h1>Edit your email and password</h1>
 
<form action="update_email_and_password" onsubmit='return check(this)'  method=get >
 email:
  <br>
    <input type=text name=email >
    <input type=hidden name=entity_id value='1'>
  <br>
  password:
  <br>
    <input type=text name=password ><br>
  confirm:
  <br>
    <input type=text name=confirmPassword ><br>
    <input type=submit value='change' %>
</form>
<a href='show'> <button> back </button></a>