<!--
    # Definition: If the other is selected it checkes if the textbox is not empty.
    # Input: New work status.
    # Output: Passes or error.
    # Author: Ola Enaba.
-->

<html>
<head>
  <%= javascript_include_tag "entities"%>
  

  
</head>


<!--
    # Definition: Page layout.
    # Input: Nothing.
    # Output: Updated email and password.
    # Author: Ola Enaba.
-->

<h1>Edit your work status : <%= @last %></h1>
<form action="update_work_status" onsubmit='return check(this)'  method=get >
  work status:
  <br>
<select name =status>
<option value="other">
        other</option>
      <option value="working">working</option>
      <option value="on hold">on hold</option>
      <option value="temporary on hold">temporary on hold</option>
    </select>
<input type=text name=other>
    <input type=hidden name=entity_id value='1'>
    

    <input type=submit value='change' %>
 </form>
  <a href='show'> <button> back </button></a>