<h2>This is meant to be the profile page of the entity.</h2>


<!-- Definition: Links to the home page. -->
<!-- Inputs: Homepage link. -->
<!-- Outpus: Homepage. -->
<!-- Author: Adel Zee Badawy. -->

<%= link_to 'Back to home page.', root_path %>