
<!--
	# Definition: Redirects to change company status.
	# Input: Nothing.
	# Output: Nothing.
	# Author: Ola Enaba
-->

<a href='change_company_status?startup_id=1' > <button> change company status </button> </a>
