 <!-- # Definition: This shows a list of all of the startup's unachieved badges.
      # It shows their image, name, description and level.
      # Input: entity_id
      # Output: void
      # Author: Yomn El-Mistikawy -->
      
 <table>
  <tbody>
   <% @unachieved_badges.each do |badge| %>
    <tr>
     <td><%= badge.name %></td>
    </tr>
   <% end %>
  </tbody>
 </table>
 