<!--
	# Definition: redirects to the edit email and password page.
	# Input: Nothing.
	# Output: Nothing.
	# Author: ola Enaba
-->

<a href='edit_email_and_password?entity_id=1' > <button> edit email and password </button> </a>


<!--
	# Definition: redirects to the edit work status page.
	# Input: Nothing.
	# Output: Nothing
	# Author: Ola Enaba.
-->

<a href='edit_work_status?entity_id=1' > <button> edit work status </button> </a>


<!--
	# Definition: redirects to the edit status page.
	# Input: Nothing.
	# Output: Nothing
	# Author: Ola Enaba.
-->
<a href='edit_status?entity_id=1' > <button> edit status </button> </a>