<h2>Welcome to your profile, <%= @entity.name %>!</h2>
Internship Availability: 


<!-- 
	Definition: This part displays the internship status of the entity, as displayed in the database. Green denotes available internships, red denotes unavaible internships.
	Author: Adel Zee Badawy 
-->

<% if @avail.available == true %>
	<div style="background-color: green; width: 30px; height:30px"></div>
<% elsif @avail.available == false %>
	<div style="background-color: red; width: 30px; height:30px"></div>
<% end %>

<br>
<small>(green square denotes available, red square denotes unavailable)</small>


<!--
	Definition: This tiny form calls the method update, which switches the internship status to true if it is false, and vice versa.
	Author: Adel Zee Badawy
-->

<br>
<%= form_for @entity do |f| %>
	<%= f.submit "Change Internship Status" %>
<% end %>