<h1>Edit your email and password</h1>
 
<form action='update_email_and_password'  method=get >
 
    email:<br>
    
    <input type=text name=email >
    <input type=hidden name=id value=1>
  <br>
    password:<br>
    <br>
    <input type=text name=password ><br>
    
    <input type=submit value='change' %>
 </form>