<!-- 
  # Definition: This is the template that shows the text box of the search engine
  # the form action redirects it to the list of searched words.
  # Input: Void.
  # Output: Void.
  # Author: Mozdan Ahmed.
-->

<form action="list" >
 <h3 > enter your search key </h3>
  <input type="text" name="text"> 
  <input name="send" type="submit" value="Search"> 
</form>