<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :e_mail, params[:e_mail] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>