<h1> Your project details </h1>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @project.discription %>
</p>