

<!-- Homepage Slider -->
<div id="home-slider">  
    <div class="overlay"></div>

    <div class="slider-text">
        <div id="slidecaption"></div>
    </div>   
    
    <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        
        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->


<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Startup Maps">Startup Maps</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            <li><a href="Login.html" class="external">Log In</a></li>
            <li><a href="signup.html" class="external">Sign Up</a></li>
            	<li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#work">Our Aim</a></li>
                <li><a href="#about">How it Works</a></li>
				
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<!-- Our Aim Section -->
<div id="work" class="page">
	<div class="container">
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Our Aim</h2>
                    <h3 class="title-description">We want to create a visualized network of Egyptian startup and entrepreneurship on the
map to give them an outlet to publish themselves from and also to ease the search of
specific aspects of work in Egypt. Based on purely crowd-sourced data, the website aims to
form an accessible database, networking platform, and digital incubator for startups,
initiatives, and co-working spaces on the ground.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
    </div>
</div>
<!-- End Our Aim Section -->
