<!--
  # Definition: Displays the message, having delete button to delete the message.
  # Input: Void.
  # Output: Message, delete if user wants to.
  # Author: Sarah Fathallah. 
-->

<link href="/assets/messages.css" rel="stylesheet">

<% if message.recepient == current_entity.email %>
<table class="table">
  <tr>
    <td>
      <%= link_to message.subject, message_path(message) %>
    </td>
    <td>
      <%= message.sender %>
    </td>
    <td>
      <%= message.created_at %>
    </td>
    <td><%= link_to 'Delete Message', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>
<% end %>