<p>Hello Group Member</p>

<p>This comment is sent to you automatically as a group member</p>

<p><%= @comment.commenter %> has sent to you a comment which says:</p>
<p><%= @comment.comment %></p>

<p>Thank you :D</p>
