<html>
  <head>
    <meta content='html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @entity.username %>, </h1>
    <p>
      You forgot your password and asked for it to be retrieved.<br/>
    </p>
    <p>
     Here is your password: <%= @entity.password %>
      <br>
    <p>If you did not request this action, just ignore this email</p>
  </body>
</html>