<p>Hello Group Member</p>

<p>This post is sent to you automatically as a group member</p>

<p>A post of title: <%= @post.title %> was sent to you which says:</p>
<p><%= @post.text %></p>

<p>Thank you :D</p>

