<!DOCTYPE html>
<!-- Message written in email -->
<html>
  <head>
    <meta content='html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @sign_up.username %></h1>
    <p>
      You have successfully signed up to our website,
      your username is: <%= @sign_up.username %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>