<h1>Welcome To Profile</h1>
<%= link_to "View Requests", href="/startups/view" %>

<!-- This is a link to redirect you to view the requests 
input is a ref to view
output is hyperlink to the other page

Authored by Ziad Abdelkader-->