
<!-- Here to show the links for the accept and reject hyperlinks 
output is hyperlink to accept, hyperlink to reject

Authored by: Ziad Abdelkader-->

<h1> Merge Requests </h1>


<% @requests.each do |r| %>
    <tr>
      
      <td><%= r.sender%></td>
     
     <td><%= button_to 'Accept',startup_accept_path(request: r, startup_id: session_id)%></td>
     <td><%= button_to 'Reject',startup_reject_path(request: r, startup_id: session_id)%></td>
     <td><%= button_to 'View Profile', project_show_path (sender: sender) %></td>
     <br>
    </tr >
 <% end %>

