<h1> Merge Requests </h1>


<% @send_merge_requests.each do |r| %>
    <tr>
      
      <td><%= r.requester%></td>
     
     <td><%= link_to 'Accept',startup_accept_path(request: r, startup_id: '2')%></td>
     <td><%= link_to 'Reject',startup_reject_path(request: r, startup_id: '2')%></td>
     <br>
    </tr>
<% end %>

<!-- Here to show the links for the accept and reject hyperlinks 
output is hyperlink to accept, hyperlink to reject

Authored by: Ziad Abdelkader-->