<h1> Company Status:</h1>
<input type = "button" value = "Online" onclick = "return change(this);" />
<script type = "text/javascript">
 function change(el)
 {
  if (el.value === "Online")
   el.value = "Offline";
  else
   el.value = "Online";
 }
</script>
