<h1>Listing event members </h1>

<!-- # Defintion: This shows a list of group members
     # of the group opened.
     # Input: @group_members
     # Output: group_member
     # Author: Yomn El-Mistikawy -->

<table>
  <tr>
    <th>Name&nbsp;&nbsp;</th>
    <th>Sector&nbsp;&nbsp;</th>
    <th>Location</th>
  </tr>
  <% @event_members.each do |event_member| %>
    <tr>
      <td><%= event_member.name %>&nbsp;&nbsp;</td>
      <td><%= event_member.sector %>&nbsp;&nbsp;</td>
      <td><%= event_member.location%>&nbsp;&nbsp;</td>
      <td><%= link_to 'Show', event_member %></td>
    </tr>
  <% end %>
</table>