<h1> mohamed</h1>
<!--
#Definition: it takes the variable @entities ,loop on it and then print all the names. 
#Input:variable @entities.
#Output: name.
#Author:mohamed sharawy.
 -->

<table>
  <% @entities.each do |t| %>
    <tr>
      <td><%= t.name%></td>
    </tr>
  <% end %>
</table>


<!--
#Definition: it takes the variable @entities_I ,loop on it and then print all the names.
#Input:variable @entities.
#Output: name.
#Author:mohamed sharawy.
 -->	


<table>
	 <% @entities_I.each do |t| %>
	   <tr>
      <td><%= t.name%></td>
	   </tr>
	 <% end %>
</table>
	

	<!--
#Definition: it takes the variable @entities_V ,loop on it and then print all the names. 
#Input:variable @entities.
#Output: name.
#Author:mohamed sharawy.
 -->

	
	<table>
	 <% @entities_V.each do |t| %>
	   <tr>
      <td><%= t.name%></td>
	   </tr>
	 <% end %>
</table>
	