<h1> mohamed</h1>
<!--
#Definition: It takes the variable @entities_startups ,loop on it and then print all the names. 
#Input:Variable @entities.
#Output: Name.
#Author:Mohamed sharawy.
 -->

<table>
  <% @entities_startups.each do |t| %>
    <tr>
      <td><%= t.name%></td>
    </tr>
  <% end %>
</table>


<!--
#Definition: It takes the variable @entities_investors ,loop on it and then print all the names.
#Input:Variable @entities.
#Output: Name.
#Author:Mohamed sharawy.
 -->	

<table>
	 <% @entities_investors.each do |t| %>
	   <tr>
      <td><%= t.name%></td>
	   </tr>
	 <% end %>
</table>
	

	<!--
#Definition: It takes the variable @entities_services ,loop on it and then print all the names. 
#Input:Variable @entities.
#Output: Name.
#Author:Mohamed sharawy.
 -->
	
<table>
	 <% @entities_services.each do |t| %>
	   <tr>
      <td><%= t.name%></td>
	   </tr>
	 <% end %>
</table>
	