<h2> Welcome To your StartupMap </h2>



<%= link_to 'Show Entities', href="/maps/1"%>

<%= link_to 'Show Starups', href="/maps/1/ShowStartUps"%>
<%= link_to 'Show Services', href="/maps/1/ShowServices"%>
<%= link_to 'Show Investors', href="/maps/1/ShowInvestors"%>






