<!-- 
# Definition: A link that allows the user to show the merged startups
# in table Startup.
# Input: Table Startup.
# Output: Void.
# Author: Heba Abdelfattah. -->

<h1> New Map </h1>
<%= link_to 'Show Merged StartUps', href = "/maps/1/show_merged" %>