<h1>sharawy maps</h1>


<!--
#Definition: a drop down list with the sectors. 
#Input:sector.
#Output: name.
#Author:mohamed sharawy.
-->
  <%=form_for :entities  do |f| %>
    <p>
      <%= f.select :sectors, [['Agriculture','agriculture'],['Manufacturing','manufacturing'],['Trading','trading'],['Clothes','clothes'],['Telecommunications','telecommunications']] %>
    </p>
    <%= f.submit %>

  <% end %>


