<!-- 
# Definition: A page that loops on the table merged and views it to the user.
# Input: Table Startup.
# Output: List of merged entities.
# Author: Heba Abdelfattah. -->


<h1> Merged Startups</h1>

<% @merged.each do |start| %>
	<tr>
		<td><%=start.name %></td>
	</tr>
<% end %>