<!-- 
  # Definition: This lists all the portfolios.
  # Input: Void.
  # Output: All portfolios.
  # Author: Mozdan Ahmed.
-->

<h1>All your portfolios</h1>
<table>
<thead>
<tr>
<th>Name &nbsp; &nbsp; &nbsp;</th>
<th>Description</th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @entity_portfolio.each do |entity_portfolio| %>
<tr>
<td><%= link_to entity_portfolio.name, entity_portfolio %></td>
<td><%= entity_portfolio.description %></td>        
<td><%= link_to 'Delete', entity_portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
</td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'New portfolio', new_entity_portfolio_path %>