<html>
<body>
	<form action='create_portfolio' >
		
		enter your name<input type='text' name='name' id='name'></br>
		enter the disc<textarea name = 'description'></textarea></br>
		enter launch date<input type='text' name='launch' id='launch'></br>
		enter your name<input type='text' name='entity_id' id='entity_id'></br>
		<input name='commit' type='submit' value='create'>
		
	</form>