<h1>Listing startup_has_groups</h1>


<!--
  # Definition: A form that apears on startup showing a list of startups and their groups
  # Input: none
  # Output: List of startups and their groups
  # Author: Essam Azzam
-->

<table>
  <thead>
    <tr>
      <th>Startupid</th>
      <th>Groupid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @startup_has_groups.each do |startup_has_group| %>
      <tr>
        <td><%= startup_has_group.startupID %></td>
        <td><%= startup_has_group.groupID %></td>
        <td><%= link_to 'Destroy', startup_has_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Startup has group', new_startup_has_group_path %>
