  <!--
  # Definition: to update the database of the social link adding the hyperlinks.
	# Input: hyperlink enterd from the user.
	# Output: entries are saved on the database and then displayed.
	# Author: Tharey.
  -->
  <form action = 'add' >
    <input type = text name = link>
    <input type = submit value = 'add link'>
  </form>