 <!--
  # Definition: This method to direct to page form and has a button back and show.
  # Input: Void.
  # Output: Void.
  # Author: Sandra Youssef.
-->

 <h1>Editing gallery</h1>
 <%= render 'form' %>
 <%= link_to 'Show', @gallery %> |
 <%= link_to 'Back', galleries_path %>
