<!--
  # Definition: This method lists all galleries.
  # Input: Void.
  # Output: Void.
  # Author: Sandra Youssef.
-->

 <% @galleries.each do |gallery| %> 
 <div class="gallery">
 <h2><%= link_to gallery.name, gallery %></h2>
 No. of Paintings: <%= gallery.paintings.size %>
 </div>
 <% end %>
