 <!--
  # Definition: This method to direct to page form and has a button back.
  # Input: Void.
  # Output: Void.
  # Author: Sandra Youssef.
-->

 <h1>New gallery</h1>
 <%= render 'form' %>
 <%= link_to 'Back', galleries_path %>
