<!--
  # Definition: This method directs to page form and has a button back and show.
  # Input: Void.
  # Output: Void.
  # Author: Sandra Youssef.
-->

 <h1>Editing painting</h1>
 <%= render 'form' %>
 <%= link_to 'Show', @painting %> |
 <%= link_to 'Back', paintings_path %>
