
  <p>
    <strong>Commenter:</strong>
    <%= @comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= @comment.comment %>
  </p>


<%= link_to 'Edit', edit_group_post_comment_path(@comment) %>
<%= link_to 'Destroy', edit_group_post_comment_path, method: :delete, data: { confirm: 'Are you sure?' } %>