  <% if flash[:error] %>
  <p class="notice"><%= flash[:error] %></p>
<% end %>
  
   <%= form_for([@group,@post, @post.comments.build]) do |f| %>

    <p>
      <%= f.text_area :comment %>
    </p>
    
    <p>
       <%= f.submit %>
    </p>
  <% end %>