<!--
  # Definition: Finds the entity to edit the email and password.
  # Input: Email and Password.
  # Output: Updated email and password.
  # Author: Ola Enaba.
-->

<%= form_for :entity, url: entities_path do |entity| %>
 <p>
  <%= entity.label :Status %><br>
  <%= entity.text_field :status %>
 </p>
  <%= button_to "Post", entity_update_status_path(:status) %>
