<!-- 
  # Definition: This part will create the text fields wth names jobs,needs,and goals.  
  # Input: Text. 
  # Output: 
  # Author: Mohamed sharawy. 
-->

Jobs:<input type = "text", name = "jobs">
</div>
<div>
Goals:<input type = "text", name = "goals">
</div>
<div>
Needs:<input type = "text", name = "needs">
</div>
 <div>
 